<script id="widget-template" type="text/template">
    <div class="message-widget">
        <div class="indicator"></div>
        <div class="wrapper">
            <div class="alert alert-message">
                <div class="row">
                    <div class="message span5">
                    </div>
                </div>
                <div class="row footer message-footer">
                    <div class="align-center span5">
                        <span class="close-widget btn">Закрыть</span>
                    </div>
                </div>
                <div class="row footer confirm-footer">
                    <div class="span3">
                        <span class="confirm-no btn">Отменить</span>
                    </div>
                    <div class="align-right span2">
                        <span class="confirm-yes btn">Да</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
